<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>localhost</groupId>
        <artifactId>branch</artifactId>
        <version>1.2.3-SNAPSHOT</version>
    </parent>
    <artifactId>branch-module</artifactId>
    <packaging>pom</packaging>

    <properties>
        <moo>zoo</moo>

        <lib19>19.0-SNAPSHOT</lib19>
        <lib20>20.0-SNAPSHOT</lib20>
        <lib21>21.0</lib21>
        <lib25>25.0-SNAPSHOT</lib25>
        <lib26>26.0-SNAPSHOT</lib26>
        <lib27>27.0</lib27>
    </properties>

    <dependencies>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib13</artifactId>
            <version>${lib13}</version>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib20</artifactId>
            <version>${lib20}</version>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib15</artifactId>
            <version>${lib15}</version>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib201</artifactId>
            <version>201.0-SNAPSHOT</version>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib4</artifactId>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib4</artifactId>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib19</artifactId>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib102</artifactId>
        </dependency>
        <dependency>
            <groupId>localhost</groupId>
            <artifactId>lib202</artifactId>
        </dependency>
    </dependencies>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>localhost</groupId>
                <artifactId>lib19</artifactId>
                <version>${lib19}</version>
            </dependency>
            <dependency>
                <groupId>localhost</groupId>
                <artifactId>lib14</artifactId>
                <version>${lib14}</version>
            </dependency>
            <dependency>
                <groupId>localhost</groupId>
                <artifactId>lib21</artifactId>
                <version>${lib21}</version>
            </dependency>
            <dependency>
                <groupId>localhost</groupId>
                <artifactId>lib202</artifactId>
                <version>202.0-SNAPSHOT</version>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <profiles>
        <profile>
            <id>module-profile</id>

            <properties>
                <lib22>22.0-SNAPSHOT</lib22>
                <lib23>23.0-SNAPSHOT</lib23>
                <lib24>24.0</lib24>
                <lib28>28.0-SNAPSHOT</lib28>
                <lib29>29.0-SNAPSHOT</lib29>
                <lib30>30.0</lib30>
            </properties>

            <dependencies>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib22</artifactId>
                    <version>${lib22}</version>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib17</artifactId>
                    <version>${lib17}</version>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib24</artifactId>
                    <version>${lib24}</version>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib203</artifactId>
                    <version>203.0-SNAPSHOT</version>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib10</artifactId>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib11</artifactId>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib12</artifactId>
                </dependency>
                <dependency>
                    <groupId>localhost</groupId>
                    <artifactId>lib204</artifactId>
                </dependency>
            </dependencies>

            <dependencyManagement>
                <dependencies>
                    <dependency>
                        <groupId>localhost</groupId>
                        <artifactId>lib16</artifactId>
                        <version>${lib16}</version>
                    </dependency>
                    <dependency>
                        <groupId>localhost</groupId>
                        <artifactId>lib23</artifactId>
                        <version>${lib23}</version>
                    </dependency>
                    <dependency>
                        <groupId>localhost</groupId>
                        <artifactId>lib18</artifactId>
                        <version>${lib18}</version>
                    </dependency>
                    <dependency>
                        <groupId>localhost</groupId>
                        <artifactId>lib104</artifactId>
                        <version>204.0-SNAPSHOT</version>
                    </dependency>
                </dependencies>
            </dependencyManagement>
        </profile>
    </profiles>
</project>
